<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>GB</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body ng-app="myApp">

<span contentful-entry="'content_type=icon&fields.iconTitle=logo'">
  <img src="http://{{ $contentfulEntry.fields.iconDesktopImage.fields.file.url }}">
</span>
<hr>
<span contentful-entries="'content_type=icon'" >
	<span ng-repeat="icon in $contentfulEntries.items">
    	<img src="http://{{ icon.fields.iconDesktopImage.fields.file.url }}">
    </span>
</span>
<hr>
<span contentful-entries="'content_type=menu'" class="menuTitleI">
    <span ng-repeat="menu in $contentfulEntries.items | orderBy:'fields.menuOrder' ">
	    <a class="menuLink" href="{{ menu.fields.menuLink }}" target="_blank">{{ menu.fields.menuTitle }}</a>
    </span>
</span>
<hr>
<div contentful-entry="'content_type=page&fields.pageTitle=our Rooms'">
  <h2>{{ $contentfulEntry.fields.pageTitle }}</h2>
  <p>{{ $contentfulEntry.fields.pageDescription}}</p>
  <img src="http://{{ $contentfulEntry.fields.pageDesktopImage.fields.file.url }}">
</div>

<hr>
<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Angular JavaScript -->
<script src="js/angular.min.js"></script>
<!-- Angular wrapper for contentful -->
<script src="js/contentful/angular-contentful.js"></script>
<!-- Mardown to HTML - Showdown.js -->
<script src="js/showdown.min.js"></script>

<script src="js/script.js"></script>
<script src="js/contentful.js"></script>
</body>

</html>
